{{#if (equal user.access 'premium')}}
    <h3>Still under construction</h3>...
{{else}}
    <h4 style="text-align: center; color: rgb(0, 174, 255);">You dont have access to see this content.</h4> 
    <h2 style="text-align: center;">click <a href="premium/{{user.id}}">here</a> to get premium access and start promoting your story</h2>
{{/if}} 
